@import "_home";
@import "variables";

.d-flex {
    display: flex !important;
}
.flex-column {
    flex-direction: column !important;
}

.site-layout-background {
    background: #fff;
}

.side-bar {
    img.logo-image {
        width: 100%;
        background-color: $color_white;
    }
}
